@charset "utf-8";

/* css for div error */
div.error {
    /*opacity: 0.87;	*/
	background: none repeat scroll 0 0 #2B012C !important;
    border: 2px solid #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 6px #000000;
    color: #FFFFFF;
    font-size: 13px;
    padding: 4px 10px;
    position: relative;
}
div.error:after{
	content:"";
	display:block;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #DDDDDD;
	top: 100%;
	position: absolute;
}
input.error, select.error, textarea.error{
	border: solid 1px red;
}
/* css for other */
.boxwarning {
    border-radius: 12px 12px 12px 12px;
    box-shadow: 1px 1px 4px 6px #F1F1F1;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    width: 80%;
}
.popup {
    display: none;
    background: none repeat scroll 0 0 #F1F1F1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 0 5px 2px #CCCCCC;
    padding: 5px 15px;
    overflow: hidden;
}