*html .minHeight  { height:700px}
.minHeight { min-height:700px; height:auto}

body { color:#555; font: 10pt Arial, Helvetica, sans-serif; background:#cdcdcf url(../images/bg_site.jpg) no-repeat top center fixed; margin:0; padding:0}

a { color:#460c3d}
a:hover { color:#000}



/*** header ***/
.headerAd { height:100px;}
.logo { padding:5px 10px 0 20px; float:left}
.logo img { width:150px}
.blogUser { float:right; margin:20px 10px  0 0; color:#000; font-family:HelveticaLight; font-size:10pt}
.blogUser a { color:#000}
.blogUser .icon { margin:0 5px; padding-left:20px; width:auto !important; margin-top:-5px}
.blogUser b { color:#fff; margin-right:20px}

/*** login ***/
.logoAdmin { width:460px; margin:80px auto 10px auto; text-align:center }
.blogLogin { width:460px; height:256px; margin:20px auto; background:url(../images/bg_login.png) no-repeat top center}
.blogLogin .title {  }
.blogLogin .title span { color:#000}

.boxLog { padding:30px 40px; color:#fff}
.boxLog p { margin:0; padding:5px 0 10px 90px; text-align:left}
.boxLog label { float:left; width:90px; margin-bottom:15px; font-family:AlterGothic; font-size:15pt}
.boxLog br { clear:both}
.inpLog { width:230px}
.boxLog .padT5 { padding-bottom:10px}
.boxLog .padT5  { margin-left:90px}
.boxLog .bntInp { float:right; margin-right:50px}

.boxForm { padding:20px !important}
.boxForm  label { float:left; width:150px; margin-bottom:10px; font-family:Verdana, Geneva, sans-serif}
.boxForm  br { clear:both}

.bntInp, .bntAll, .uibutton  { background:url(../images/buttonAAN.png) no-repeat left -26px; width:82px; height:23px; line-height:23px; border:0; cursor:pointer; color:#fff !important; font-weight:normal !important;  font-family:AlterGothic; font-size:11pt; margin-left:5px; text-transform:uppercase; text-align:center }
.uibutton { display:inline-block}


/*** seacrh ***/
.blogSearch { margin-bottom:30px}
.blogSearch .boxAll { padding:20px; margin-right:20px}
.inpSearch { width:500px; border:1px solid #CCC}
ul.tabs { width:100%; overflow:hidden; }
ul.tabs li { display:block; float:left; color:#555; padding:2px 10px; margin-right:1px;  background:#fff; cursor:pointer; border:1px solid #d0d4f0; border-bottom:0px solid #d0d4f0}
ul.tabs li:hover { background:#eee; color:#222 }
ul.tabs li.current {  background:#d0d4f0; color:#222 }

/*** nav top ***/
.navTop { width:100%; background:url(../images/gradient.png) repeat-x left -97px ; height:44px; margin-top:-3px}
.navTop ul { margin-left:10px}
.navTop li { float:left; background:url(../images/gradient.png) no-repeat left -159px ; font-size:10pt; font-weight:bold; padding:0 0 0 4px }
.navTop li:first-child { background:none}
.navTop li a { display:block; height:41px; line-height:41px; padding:0 10px; color:#2B012C}
.navTop li a:hover, .navTop li a.active { border-top:0px solid #860f4e; line-height:41px; background:url(../images/gradient.png) repeat-x left -97px ; color:#892C75}

/*** bodyMain ***/
.pageMain { padding:0 0px; border-top:1px solid #ddd; border-bottom:1px solid #ddd}
.mainLeft { float:left; width:20%; display:inline-block; padding-top:20px; background:url(../images/bg_colum.png) repeat-x top}
.mainRight { float:right; width:77%; min-height:470px; padding-left:2%; padding-top:10px; background:url(../images/bg_colum2.png) repeat-x top}

.categories li { background:url(../images/bg_line_w2.png) no-repeat left bottom }
.categories li a { padding:5px 5px; display:block; color:#581649; font-weight:bold}
.categories li a b { font-size:8pt; color:#aa0000}
.categories li a:hover, .categories li a.active { background:url(../images/gradient.png) repeat-x left -97px ; color:#111}

/*** table content ***/

.rowHeader { font-size:13pt; font-weight:normal; padding:5px 0; margin-bottom:15px; color:#751f62; border-bottom:1px solid #ddd}
.rowHeader .fr { font-size:10pt; font-weight:bold}
.rowHeader b { color:#111; font-size:11pt}

table, tr, td { border-color:#ccc }
.tableContent { border:1px solid #ccc}
.selN {  }
.selN2 { width:180px }
.rowH { background:#d7d7d7; font-weight:bold}
.tableContent .colT1 { width:5%}
.tableContent .colT2 { width:5%}
.tableContent .colT3 { width:65%}
.tableContent .colT4 { width:9%}
.tableContent .colT6 { width:16%}
.tableComment .colT1 { width:5%}
.tableComment .colT2 { width:65%}
.tableComment .colT3 { width:12%}
.tableComment .colT4 { width:9%}
.tableComment .colT6 { width:9%}
.tableTK .colT1 { width:5%}
.tableTK .colT2 { width:50%}
.tableTK .colT3 { width:20%}
.tableTK .colT4 { width:20%}
.tableTK .colT5 { width:5%}
.noteCo { text-align:right; margin-top:-10px}
.dateCo { color:#888; font-size:8.5pt; line-height:16px}
.titleCo { font-weight:bold; color:#282d4b; font-size:10pt}
.inpDate { width:110px}
.tableComment .small { font-weight:bold; font-size:9pt}
.titleCom { line-height:16px; padding-bottom:5px}


.rowBottom { background:url(../images/gradient.png) repeat-x left -97px ; color:#892C75; margin:-3px -10px -10px; padding:3px 5px; font-weight:bold; font-size:8pt }
.optionN { float:left; padding-top:5px}
.optionN a { margin-right:10px; background:url(../images/gradient.png) repeat-x left -135px ; color:#111; padding:3px 8px 3px; border:1px solid #adb2da}
.rowBottom .pageNum { float:right}


/*** lightbox ***/

.boxGhiChu { width:450px; left:30%; top:20%}
.boxIn { background:#ffffff; border:1px solid #1e2137; }
.contentBI { }
.titleBox { padding:5px 10px; font-family:Verdana, Geneva, sans-serif; font-weight:bold; background:#1e2137 url(../images/gradient.png) repeat-x left -278px ; font-size:11pt; color:#fff}
.contentBox { padding:10px; height:300px; overflow-y:auto; overflow-x:hidden}
.contentBox .areaSort { width:230px; height:150px}

.boxChiTiet { width:800px; left:15%; top:10% }
.boxChiTiet.contentBox  {  height:400px; }
.boxForm .contentBox  {  height:360px; }

.contentVODBox { padding:10px 15px}
.contentVODBox .colVODL { float:left; width:150px; overflow:hidden} 
.contentVODBox .colVODR { float:right; width:580px} 
.picVODD img { width:150px}

.lineS3 {  background:url(../images/bg_line_w1.png) no-repeat left; height:10px; margin-left:-5px}
.titleMVD { font-family:TradeGothicBold; font-size:16pt; color:#2b012c}
.colVODR { padding:0 0 0 10px;  font-weight:bold;  margin-bottom:0px; margin-right:25px; color:#2b012c}
.colVODR span { float:left; margin-bottom:5px; font-family:HelveticaLight; color:#892C75; width:90px; font-size:13pt; margin-top:0px; font-weight:normal}
.colVODR br { clear:both}
.colVODR .clr { padding:5px 0}
.colVODR a { color:#2b012c}
.colVODR a:hover { color:#030000 }

.contentVOD { padding:10px 0} 
.playerVOD { padding:10px; text-align:center; background:#eee; margin-bottom:10px}

/*** box fill ***/

.boxFill { background:#d0d4d9; border:1px solid #ddd; padding:5px; margin-bottom:10px}
.boxFill .title { font-size:11pt; font-weight:bold; cursor:pointer}
.contentFill { padding:5px 10px 10px; background:#f7f7f7; border:1px solid #dedede}
.boxFill .minF { float:right; margin:3px 0; display:none}
.contentFill .icon { float:none}
.closedlanguage { background:url(../images/icoMax.png) no-repeat top right}
.openlanguage  { background:url(../images/icoMin.png) no-repeat top right}

.formFill label { display:block; padding:5px 0 0 }
.inpTitle { width:600px}
.areaSort { width:600px; height:100px}
.boxScroll { height:100px; overflow-y:auto; overflow-x:hidden; border:1px solid #ccc; padding:5px; background:#fefefe}

.listCM li { font-weight:bold; padding:0px; cursor:pointer; color:#323975}
.listCM li.actvie, .listCM li:hover { background:#000; color:#fff}
.listCM li li { font-weight:normal; padding-left:15px; color:#000; background:url(../images/ico_next.png) no-repeat left center}
.listCM li li:hover {  background:#323975 url(../images/ico_nexth.png) no-repeat left center; color:#fff }
.listCM li ul { background:#fff}

.listBV li a { padding:2px 5px; display:block}
.listBV li a:hover { background:#323975; color:#fff }

.listCMAD { height:405px; overflow-y:scroll; overflow-x:hidden; padding:5px; border:1px solid #ccc}
.listCMAD li:hover { background:#3576C8; color:#fff}
.listCMAD li b { text-decoration:underline}
.listCMAD li span { background:url(../images/ico_next.png) no-repeat left; padding-left:10px}

.listCMAD2 li { float:left; width:24%; padding:3px 1% 3px 0; line-height:16px }

.boxWelCome { text-align:center; width:620px}
.boxWelCome h1 { color:#000; font-size:20px; letter-spacing:1px; text-align:center; padding:20px}
.boxWelCome h1 b { color:#ad2565}

.icoShow, .icoMovie, .icoFood, .icoMusic { display:inline-block; width:125px; padding-top:100px; margin:6px 36px; text-align:center}
.icoShow { background:url(../images/ico_show_active.png) no-repeat center top}
.icoMovie { background:url(../images/ico_movie_active.png) no-repeat center top}
.icoFood { background:url(../images/ico_travel_active.png) no-repeat center top}
.icoMusic { background:url(../images/ico_music_active.png) no-repeat center top}
.icoShow:hover { background:url(../images/ico_show.png) no-repeat center top}
.icoMovie:hover { background:url(../images/ico_movie.png) no-repeat center top}
.icoFood:hover { background:url(../images/ico_travel.png) no-repeat center top}
.icoMusic:hover { background:url(../images/ico_music.png) no-repeat center top}

.icoAllView { display:block; background:url(../images/buttonAAN.png) no-repeat left -26px; width:82px; height:23px; line-height:23px; border:0; cursor:pointer; color:#fff !important; font-weight:normal !important;  font-family:AlterGothic; font-size:11pt; margin-left:5px; text-transform:uppercase; text-align:center; margin:10px auto 0 auto}

.boxReportU { padding:10px 15px 20px 265px; background:url(../images/pic_user.png) no-repeat 20px 50px; width:500px; margin:10px auto; margin-bottom:10px; border-bottom:1px solid #ccc}
.infoU { }
.infoU b { float:left; width:80px;  margin-bottom:7px}
.infoU i { display:inline-block; color:#777 }
.infoU br { clear:both}
.reportU {}
.reportU .contentFill  { min-height:100px}

.boxReportU2 { padding:10px 10px 10px 10px !important; background:none !important; width:770px; margin:10px auto; margin-bottom:30px; border-bottom:0px solid #ccc}
.boxReportU2 .infoU b { float:left; width:235px; background:#e9deeb; padding:3px 10px; margin-bottom:2px}
.boxReportU2 .infoU i { display:inline-block; color:#777; padding-left:10px }
.boxReportU2 .reportU { margin-top:5px}
.boxReportU2 .contentBox .areaSort { width:720px !important; margin-top:-14px;}
.boxReportU2 .contentBox { padding:10px 0}

.rowDateTK { padding:10px 0 20px ; border-bottom:1px solid #fff}
.rowDateTK span { display:inline-block; width:100px; font-weight:bold; color:#322931; font-size:14px }
.inpTK { background:url(../images/bg_inpTK.png) no-repeat; width:214px; height:34px; border:0; margin-right:20px }

.roeSortTK { padding:20px 0}
.roeSortTK .col1 { float:left; width:100px;font-weight:bold; color:#322931; font-size:14px}
.roeSortTK .col2 { float:left; width:200px;}
.roeSortTK .col3 { float:left; width:320px;}
.roeSortTK .col4 { float:left; width:180px;}
.roeSortTK .col4 i {  display:inline-block; vertical-align:middle; width:10px; height:10px; margin-right:10px; border:1px solid #fff; box-shadow:2px 2px 2px #555 }
.roeSortTK .bgc1 { background:#4a4a4a; }
.roeSortTK .bgc2 { background:#fe7be0; }
.roeSortTK .bgc3 { background:#cec8cf; }
.roeSortTK .bgc4 { background:#61185d; }
.roeSortTK .bgc5 { background:#aa008c; }
.roeSortTK .bgc6 { background:#ee0022; }
.boxBD { background:#fff; border-radius:10px; padding:10px;}

.bntTK { display:block; margin-bottom:7px; background:url(../images/bnt_TK_h.png) no-repeat; width:156px; height:51px; line-height:51px; color:#322931; font-weight:bold; font-size:14px; padding:0 10px}
.bntTK:hover, .bntTKActive { background:url(../images/bnt_TK.png) no-repeat; }
.roeSortTK .icoS1 { display:inline-block; width:35px; height:35px; background:url(../images/ico_s1.png) no-repeat; vertical-align:middle; margin-right:10px}
.roeSortTK .icoS2 { display:inline-block; width:35px; height:35px; background:url(../images/ico_s2.png) no-repeat; vertical-align:middle; margin-right:10px}
.roeSortTK .icoS3 { display:inline-block; width:35px; height:35px; background:url(../images/ico_s3.png) no-repeat; vertical-align:middle; margin-right:10px}
.roeSortTK .icoS4 { display:inline-block; width:35px; height:35px; background:url(../images/ico_s4.png) no-repeat; vertical-align:middle; margin-right:10px}

.pageHome { background: url(../images/bg_colum2.png) repeat center top; min-height:400px; height:auto}

.listDB li { background:url(../images/db_hover.png) no-repeat center top; float:left; width:20%; text-align:centerl; margin:20px 0 }
.listDB li:hover { background:url(../images/db_hover_a.png) no-repeat center top}
.listDB li a { width:132px; height:128px; display:block; margin:0 auto; font-weight:bold; color:#423d41; font-size:14px; position:relative}
.listDB li a span { display:block; position:absolute; bottom:5px; left:0px; text-align:center; width:132px}
.listDB li.m1 a { background:url(../images/ico_db_mv.png) no-repeat center 15px}
.listDB li.m2 a { background:url(../images/ico_db_tv.png) no-repeat 20px 15px}
.listDB li.m3 a { background:url(../images/ico_db_youtube.png) no-repeat 10px 28px}
.listDB li.m4 a { background:url(../images/ico_db_article.png) no-repeat 15px 25px}
.listDB li.m5 a { background:url(../images/ico_db_user.png) no-repeat 18px 22px}
.listDB li.m6 a { background:url(../images/ico_db_report.png) no-repeat 29px 15px}
.listDB li.m7 a { background:url(../images/ico_db_provider.png) no-repeat 29px 15px}
.listDB li.m8 a { background:url(../images/ico_db_agent.png) no-repeat 24px 15px}
.listDB li.m9 a { background:url(../images/ico_db_order.png) no-repeat 20px 19px}
.listDB li.m10 a { background:url(../images/ico_db_contact.png) no-repeat 22px 24px}

.tableOrder .colT1 { width:20%; background:#D7D7D7; text-align:center; font-weight:bold}
.tableOrder .colT2 { width:80%}
.rowTBOrder .padT5 { padding:2px 0}
.areaOD { width:97%; border:1px solid #892C75; padding:5px; background:#fff; color:#000; height:100px}
.PicND { float:right; width:225px; background:#fff; height:140px; overflow:auto; text-align:center}
.PicND img { width:125px}
.arletDK { font-size:16px; font-weight:bold; color:#F00; padding:20px 0}
.error_ci{font-size:12px; font-style:italic; font-weight:bold; color:#F00;}
.footerAd { text-align:center; position:absolute; bottom:10%; display:block; width:100%; font-size:8pt; font-weight:normal; color:#777}
.footerAdIn { text-align:center;  display:block; width:100%; font-size:8pt; font-weight:normal; color:#555; padding:10px 0 } 