/*** style ***/

.icon { background:url(../images/icon.png) no-repeat; display:inline-block; width:16px; height:16px; vertical-align:middle}
.iconFlag { background-position:-256px -48px }
.iconFlagOff { background-position:-256px -72px }
.icoLogout { background-position:-256px -168px }
.icoAccount { background-position:-256px -192px }
.icoChangepass { background-position:-256px -216px }
.iconGhiChu { background-position:-256px -360px }
.iconGuiTin { background-position:-256px -432px }
.iconXoaTam { background-position:0px -264px }
.iconXem { background-position:0px -360px }
.iconSua { background-position:0px -384px }
.iconGuiLen { background-position:0px -454px }
.iconTraVe { background-position:0px -454px }
.iconTaomoi { background-position:0px 0px }
.iconChoDang { background-position:0px -24px }
.iconNhanDang { background-position:0px -48px }
.iconGuiChoDang { background-position:0px -72px }
.iconDaDang { background-position:0px -96px }
.iconGoBo { background-position:0px -120px }
.iconNhanBienTap { background-position:0px -144px }
.iconChoBienTap { background-position:0px -168px }
.iconGuiChoBienTap { background-position:0px -192px }
.iconLuuTam { background-position:0px -216px }
.iconTraLai { background-position:0px -240px }
.iconQLNoiBat { background-position:0px -288px }
.iconQLNguon { background-position:0px -314px }
.iconXuatBan { background-position:0px -480px }
.iconLSBV  { background-position:-256px -144px }
.iconXoa { background-position:-256px -24px } 
.iconTop { background-position:-256px -96px } 
.iconBottom { background-position:-256px -120px } 
.iconUpdate { background-position:-256px -242px } 
.iconCalendar { background-position:-485px 0px } 
.iconCommentList { background-position:-484px -24px } 
.iconCommentDuyet { background-position:-484px -48px } 
.iconCommentWord { background-position:-484px -72px } 
.iconReply { background-position:-484px -96px } 
.iconForward { background-position:-484px -96px } 
.iconAddUser { background-position:-484px -120px } 
.iconListUser { background-position:-484px -144px } 
.iconADUSer { background-position:-484px -168px } 
.iconOnlineUser { background-position:-484px -192px } 
.iconListFloder{ background-position:-484px -220px } 

.iconQLQC { background-position:-484px -264px } 
.iconQLVT { background-position:-484px -288px } 
.iconQLKH{ background-position:-484px -312px } 

.icoStatus { background:url(../images/icon_approve.png) no-repeat; width:16px; height:16px; display:inline-block}

.inp, .sel, .area   { padding:3px; border:1px solid #eecbe6; font-size:9pt; color:#555}
.checkHi { border:1px solid #eee; padding:2px}

.bntAll { font-weight:bold; padding:1px 5px ; color:#111; cursor:pointer; display:inline-block }
.bntAll:hover { color:#323975}
.inpNum { width:50px}
.selRow { width:60px}

.bntPre { background:url(../images/button.png) no-repeat left top; width:43px; height:31px; display:inline-block; margin:0; vertical-align:middle}
.bntPre:hover { background:url(../images/button.png) no-repeat left -63px; }
.bntNext { background:url(../images/button.png) no-repeat left -33px; width:43px; height:31px; display:inline-block; margin:0; vertical-align:middle}
.bntNext:hover { background:url(../images/button.png) no-repeat left -96px; }

.minF { background:url(../images/icon.png) no-repeat -256px -455px; width:16px; height:16px; display:inline-block }

.title { color:#323975; font-size:14pt; font-weight:normal }
.title2 { color:#323975; font-size:10pt; font-weight:bold }

.boxAll { background:#f6f6f6; padding:10px; border:1px solid #ddd}