.vs-context-menu{
    display:none;
    position: absolute;
    background: #EEEEEE;
    border: 1px solid #DDDDDD;
    width:auto;
}

.vs-context-menu ul{
}

.vs-context-menu li{
    margin: 0px; border-bottom:1px solid #fff
}
.vs-context-menu ul a{
        display: block;
		padding: 3px 10px;
        text-decoration: none;
        color: #000;
}

.vs-context-menu ul li a:hover, .vs-context-menu ul li a:focus {
color: #FFFFFF;
background:#be197e url(../images/bg_bnt.png) repeat-x bottom;
}

.seprator{
    border-bottom: 1px solid  #DDDDDD;
}

